#root {
    $treecolor: red;
}

.treeparent {
    width: 100%;
    width: -moz-available;
    width: -webkit-fill-available;
    width: fill-available;
}

.bottomarrow {
    border-bottom: 5px solid var(--treecolor);
}


.bottomarrowdown-container {
    display: flex;
    justify-content: space-between;

    &:last-child {
        margin-right: -19px;
        margin-left: auto;
    }
}

.toparrowup-container {
    display: flex;
    justify-content: center;
}

.bottomarrowdown {
    content: '';
    width: 0;
    height: 0;
    margin-left: -19px;
    border-top: 15px solid var(--treecolor);
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    margin-top: 20px;
    position: relative;

    &::before {
        content: '';
        width: 4px;
        height: 25px;
        background: var(--treecolor);
        margin-right: -2px;
        margin-bottom: 14px;
        position: absolute;
        bottom: 100%;
        right: 50%;
    }
}

.toparrowup {
    content: '';
    width: 0;
    height: 0;
    border-bottom: 15px solid var(--treecolor);
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    margin-bottom: 20px;
    position: relative;

    &::before {
        content: '';
        width: 4px;
        height: 25px;
        background: var(--treecolor);
        margin-right: -3px;
        margin-top: 14px;
        position: absolute;
        top: 100%;
        right: 50%;
    }
}